@import url('../../public/css/clash-grotesk.css');

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg);
}

body {
	font-family: "ClashGrotesk-Regular", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

main article, section.articles {
	max-width: var(--container);
	padding: 2em 2em;
}

main article.center {
	align-items: center;
	justify-content: center;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, blockquote, code, pre, span, div, article, section, main, footer, header, nav, form, input, textarea, button {
	color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ClashGrotesk-Regular", sans-serif;
	font-weight: 400;
}

p, a, li, ul, ol, blockquote, code, pre, span, div, article, section, main, footer, header, nav, form, input, textarea, button {
	font-family: "ClashGrotesk-SuperLight", sans-serif;
	font-weight: 100;
}

blockquote {
	border-left: 4px solid var(--border);
	padding: 1em;
	margin: 1em;
	background-color: var(--quote);
}

article img {
	border-radius: var(--radius-s);
	border: 1px solid var(--border);
}

hr {
	margin: 2em 1em;
	border: 1px solid var(--border);
}

a {
	text-decoration: none;
	color: var(--accent);
	&:hover {
		color: var(--accent-600);
	}
}
